* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.login-page-main-container {
    min-height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to left,#7F7CFC, #587CFC);
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-page-card {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ECEDF7;
    border-radius: 10px;
    padding: 1em;
}
.login-page-heading-container {
    width: 100%;
    text-align: center;
    margin-bottom: 1.5em;
}
.login-page-main-heading {
    font-size: 2em;
    color: #828899;
    margin-bottom: 0.75em;
}
.login-page-description {
    font-size: 1em;
    color: #828899;
}
.login-page-form-container {
    width: 100%;
}
.login-page-label-elements {
    font-size: 1em;
    color: #828899;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 1em;
}
.login-page-input-elements {
    height: 40px;
    width: 100%;
    border: 1px solid #BBC4D8;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    padding-left: 0.8em;
    margin-bottom: 20px;
    margin-top: 10px;
}
.remember-me-forgot-password-container {
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0px;
    padding-bottom: 0px;
}
.checkbox-remember-container {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.checkbox {
    height: 1.2em;
    width: 1.2em;
}
.checkbox-label {
    font-size: 1em;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #828899;
}
.forgot-password {
    color: #7F7CFC;
    margin-top: 15px;
    margin-bottom: 15px;
}
.error-message {
    font-size: 1em;
    color: red;
}
.login {
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background-image: linear-gradient(to left,#7F7CFC, #587CFC);
    color: #ECEDF7;
    border: none;
    margin-top: 2em;
    box-shadow: rgba(13, 113, 131, 0.45) 0px 25px 20px -20px;
}
.signup {
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #7F7CFC;
    border: none;
    margin-bottom: 2em;
}
@media screen and (min-width: 767px) {
    .login-page-card {
        width: 70%;
        padding: 2em;
    }
    .login-page-heading-container {
        width: 90%;
    }
    .login-page-main-heading {
        font-size: 2.5em;
    }
    .login-page-description {
        font-size: 1.25em;
    }
    .login-page-form-container {
        width: 100%;
    }
    .login-page-input-elements{
        height: 60px;
        font-size: 1.25em;
        margin-bottom: 20px;
    }
    .login-page-label-elements{
        font-size: 1.25em;
    }
    .checkbox {
        height: 1.8em;
        width: 1.5em;
    }
    .checkbox-label {
        font-size: 1.25em;
    }
    .forgot-password {
        font-size: 1.25em;
    }
    .login {
        height: 60px;
        font-size: 1.25em;
    }
    .signup {
        height: 60px;
        font-size: 1.25em;
    }
}
@media screen and (min-width: 992px) {
    .login-page-card {
        width: 60%;
    }
}