.home-page-main-container {
    background-image: linear-gradient(to left,#7F7CFC, #587CFC);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2em;
}
.home-page-heading {
    font-size: 2em;
    color: #ECEDF7;
}
.lists-container {
    font-size: 1.5em;
    color: #B0AFD9;
    border-radius: 0.5em;
    background-color: #ffffff;
    margin-top: 1em;
}
.list-item {
    margin: 1em;
}
@media screen and (min-width: 767px) {
    .home-page-heading {
        font-size: 3em;
    }
    .lists-container {
        font-size: 2em;
    }
}