.not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ECEDF7;
}
.not-found-image {
    height: 50%;
    width: 70%;
}
.go-to-home-button {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    background-image: linear-gradient(to left,#7F7CFC, #587CFC);
    color: #ECEDF7;
    border: none;
    margin-top: 2em;
    box-shadow: rgba(13, 113, 131, 0.45) 0px 25px 20px -20px;
}
@media screen and (min-width: 992px) {
    .not-found-image {
        height: 70%;
        width: 50%;
    }
}