* {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid #828899;
    padding-left: 2em;
    padding-right: 2em;
    background-color: #ffffff;
}
.header-title {
    font-size: 1.2em;
    color: #828899;
    font-weight: 500;
}
.logout-button {
    width: 100%;
    height: 30px;
    font-size: 1em;
    border-radius: 5px;
    background-image: linear-gradient(to left,#7F7CFC, #587CFC);
    color: #ECEDF7;
    border: none;
    box-shadow: rgba(13, 113, 131, 0.45) 0px 25px 20px -20px;
    padding-left: 1em;
    padding-right: 1em;
}
@media screen and (min-width: 787px) {
    .header-title {
        font-size: 1.8em;
    }
}