* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.sign-up-main-container {
    min-height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to left,#7F7CFC, #587CFC);
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ECEDF7;
    border-radius: 10px;
    padding: 1em;
}
.heading-container {
    width: 100%;
    text-align: center;
    margin-bottom: 1.5em;
}
.main-heading {
    font-size: 2em;
    color: #828899;
    margin-bottom: 0.75em;
}
.description {
    font-size: 1em;
    color: #828899;
}
.form-container {
    width: 100%;
}
.firstname-lastname-container {
    width: 100%;
}
.name-label-elements {
    width: 100%;
}
.label-elements {
    font-size: 1em;
    color: #828899;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 1em;
    margin-bottom: 10px;
}
.input-elements {
    height: 40px;
    width: 100%;
    border: 1px solid #BBC4D8;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    padding-left: 0.8em;
    margin-bottom: 20px;
    margin-top: 10px;
}
.error-message {
    margin-top: 1em;

}
.signup-button {
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background-image: linear-gradient(to left,#7F7CFC, #587CFC);
    color: #ECEDF7;
    border: none;
    margin-top: 2em;
    box-shadow: rgba(13, 113, 131, 0.45) 0px 25px 20px -20px;
}
.login-button {
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #7F7CFC;
    border: none;
    margin-bottom: 2em;
}
.link-style {
    border: none;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}
.error-message {
    font-size: 1em;
    color: red;
}
@media screen and (min-width: 767px){
    .card {
        width: 70%;
        padding: 2em 1em 2em 1em;
    }
    .heading-container{
        width: 90%;
        margin-bottom: 2em;
    }
    .main-heading {
        font-size: 2.5em;
        margin-bottom: 10px;
    }
    .description{
        font-size: 1.25em;
    }
    .form-container {
        width: 100%;
    }
    .firstname-lastname-container {
        display: flex;
        justify-content: space-between;
    }
    .name-label-elements {
        width: 50%;
    }
    .name-input-elements {
        width: 100%;
    }
    .input-elements {
        height: 60px;
        font-size: 1.25em;
        margin-bottom: 20px;
    }
    .label-elements {
        font-size: 1.25em;
    }
    .error-message {
        margin-top: 1em;
        font-size: 1.25em;
    }
    .signup-button {
        height: 60px;
        font-size: 1.25em;
        box-shadow: rgba(13, 113, 131, 0.45) 0px 25px 20px -20px;
    }
    .login-button{
        height: 60px;
        font-size: 1.25em;
    }
}

@media screen and (min-width: 992px) {
    .card {
        width: 60%;
    }
}
